.App {
  text-align: center;
  background-image:url(fond.jpg);
  
  color:red;

}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.fondApp{
  background-image:url(fond.jpg);
  
  color:red;
  
}
